.modo-carreira {
   height: 400px;
    
}

.ultimate-team {
    height: 400px;

}


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2b2d77 16.62%, #57774e 85.61%);
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px; 
    padding-top: 0px;
}

.cabeçalho-imagem {
    height: 200px;
    padding-right: 10%;
}

.cabeçalho-menu {
    display: flex;
    gap: 40px;
    padding-right: 20%;
    flex-shrink: 0;
    


}

.cabeçalho-item {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #8ad81d;
    padding-left: 5%;
}

.conteudo-principal-escrito-subtitulo  {
    font-family: 'Sarala', sans-serif;
    font-weight: 100px;
    font-size: 20px;
    color: #8ad81d;
    padding-left: 5%;
    margin-bottom: 10px;
    
}

.paragrafo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 80px;
    font-size: 18px;
    color: white;
    padding-right: 10%;
    
    
}

.conteudo-principal-escrito-botão:hover {
    background-color:rgba(86, 243, 146, 0.53);
}

.conteudo-principal-escrito-botão {
    background-color: #8ad81d;;
    width: 260px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25) ;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #2F2325;
    margin-left: 17%;
} 

.conteudo-dois {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.conteudo-principal-dois {
    display: flex;
   flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;

}

.conteudo-principal-escrito-dois {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo-dois {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #87e207;
    padding-left: 10%;
}

.conteudo-principal-escrito-subtitulo-dois  {
    font-family: 'Sarala', sans-serif;
    font-weight: 100px;
    font-size: 20px;
    color: #8ad81d;
    padding-left: 10%;
    margin-bottom: 10px;
    
}

.paragrafo-dois {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 80px;
    font-size: 18px;
    color: white;
    padding-right: 5%;
}

.conteudo-principal-escrito-botão-dois:hover {
    background-color:rgba(86, 243, 146, 0.53);
}

.conteudo-principal-escrito-botão-dois {
    background-color: #8ad81d;;
    width: 260px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25) ;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #2F2325;
    margin-left: 27%;
} 

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 100px;
    display: block;
    margin: 0 auto;


}

.paragrafo-rdp {
    padding: 0px;
    font-family:'Sarala', sans-serif ;
    font-size: 80%;
}

h1 {
    font-size: 100%;
}